.join-community{
  background-color: #fff;
  padding: 50px 75px;
  color: hsl(218, 22%, 67%);
  font-family: 'Karla', sans-serif;
}

.monthly-sub{
  background-color: hsl(179, 62%, 43%);
  color: #fff;
  padding: 50px 75px;
  font-family: 'Karla', sans-serif;
}

.why-us{
  background-color: rgb(74,190,189);
  color: #fff;
  padding: 50px 75px;
  font-family: 'Karla', sans-serif;
}

.btn{
  background-color: hsl(71, 73%, 54%);
  border-width: 0;
  text-align: center;
  color: #fff;
  margin-top: 15px;
}

.btn:hover{
  background-color: hsl(71, 73%, 44%);
}

.money-back{
  color: hsl(71, 73%, 54%);
}

body{
  margin: 20%;
  background-color: hsl(204, 43%, 93%);
}

h1{
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 20px;
}

h2{
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 15px;
}

p{
  font-size: 1rem;
}

.price{
  font-weight: 700;
  color: #fff;
}

.month{
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
}
